/* Commont settings to start work */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }
 
 body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
 }
 
 button,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
    padding: 0;
    margin: 0;
 }
 /* Coding common values and fonts */
:root{
    --main__purple:#6157AB;
}
.common__container{
    max-width: 1400px;
    margin: 0 auto;
}
/* Coding styles for header  */
.header{
    max-height: 84px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 111px;
}
.header__container{
    display: flex;
    justify-content: end;
}
.header__ul{
    display: flex;
}
.header__ul li{
    margin-right: 68px;
    text-decoration: none;
    list-style-type: none;
}
.header__ul li a{
    text-decoration: none;
    color: #636769;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
}
.header__ul li a:hover{
    opacity: .7;
    transition: .3s;
}
.common__button-all{
    width: 158px;
    height: 54px;
    border-radius: 10px;
    background: #6157AB;
    color: #FFF;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.common__button-all:hover{
    cursor: pointer;
}
/* Coding styles for header  */


/* Coding styles for the main 1 */
.house{
    background-image: url(../images/main__background.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 50px;
} 
.house__title{
    color: #363B3D;
    font-size: 64px;
    line-height: 70.4px; 
    letter-spacing: 1px;
    max-width: 616px;
    margin-bottom: 47px;

}
.house__text{
    color: #636769;
    font-size: 20px;
    line-height: 34px; 
    letter-spacing: 0.05px; 
    max-width: 600px;
    margin-bottom: 35px;
}
.house__button-1{
    margin-bottom: 119px;
}
.button__learn-more{
    border: none;
    background-color: white;
    color: #6157AB;
    font-size: 18px;
    line-height: 30px; 
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 1px solid #6157AB;
    margin-left: 48px;
}
.house__link{
    color: #96979A;
    font-size: 11px;
    line-height: 16.5px; 
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 25px;
}
.house__link:hover{
    opacity: .7;
}
.house__images{
    display: flex;
    align-items: center;
}
/* Coding styles for the main 1 */

/* Coding styles for power section */

.power{
    background: #F5F4F2;
}
.power__container{
    max-width: 1300px;
    margin: 0 auto;
}
.power__title{
    color: #333;
    font-size: 52px;
    line-height: 64.8px; /* 124.615% */
    letter-spacing: 0.675px;
    text-align: center;
    padding-top: 72px;
    margin-bottom: 47px;
}
.power__buttons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}
.power__agents{
    width: 214px;
    height: 60px;
    color: #6157AB;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    letter-spacing: 2.32px;
    cursor: pointer;
    border-radius: 6.8px;
    border: 1px solid #6157AB;
    background: #ECEAF8;
}
.power__agents:hover{
    color: #7A858A;
    border: 1px solid #7A858A;
    background: white;
    transition: .3s;
}
.power__buyers, .power__listing, .power__sellers, .power__loans{
    color: #7A858A;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 6.8px;
    border: 1px solid #AAB8BF;
    background: #FFF;
}
.power__buyers:hover, .power__listing:hover, .power__sellers:hover, .power__loans:hover{
    color: #6157AB;
    border: 1px solid #6157AB;
    background: #ECEAF8;
    transition: .3s;
    cursor: pointer;
}
.couple__container{
    background-color: white;
    padding: 75px;
    border-radius: 19px 19px 0px 0px;
}
.card{
    display: flex;
    justify-content: space-between;
}
.card__line{
    width: 381px;
    height: 1px;
    background: #C9D3D9;
    margin-bottom: 33px;
}
.card__link{
    color: #574D9C;
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 2.32px;
    text-decoration: none;
}
.card__title{
    margin-top: 97px;
    color: #363B3D;
    font-size: 40px;
    line-height: 52px; /* 130% */
    max-width: 367px;
    margin-bottom: 32px;
}
.card__text{
    color: #636769;
    font-size: 21px;
    line-height: 30px; /* 142.857% */
    max-width: 387px;
    margin-bottom: 30px;

}
.card__button{
    color: #FFF;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.5px;
    width: 223px;
    height: 54px;
    border-radius: 5px;
    background: #6157AB;
    cursor: pointer;
}
.card__line2{
    background: #C9D3D9;
    width: 932px;
    height: 1px;
    margin: 85px auto 65px auto;
}
.card__icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.icon__1 img, .icon__2 img, .icon__3 img{
    background-color: #574D9C;
    cursor: pointer;
}
.icon__1 img{
    padding: 18px 25px;
}
.icon__2 img{
    padding: 17px 19px;
}
.icon__3 img{
    padding: 14px 17px;
}
.card__icon-text{
    color: #6157AB;
    font-size: 14px;
    line-height: 18.9px; /* 135% */
    letter-spacing: 2px;
    text-transform: uppercase;
    max-width: 210px;
    margin-top: 25px;
}
.company__container{
    padding: 75px;
    background: #E3E6F9;
}
.company__title{
    color: #323A5B;
    text-align: center;
    font-size: 51px;
    line-height: 64.8px; /* 127.059% */
    letter-spacing: 0.675px;
    margin-bottom: 67px;
}
.company__content{
    display: flex;
    justify-content: space-between;
}
.content__text{
    color: #1E2224;
    text-align: center;
    font-size: 26px;
    line-height: 42px; /* 161.538% */
    letter-spacing: 0.005px;
    max-width: 460px;
}
.content__info{
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-top: 15px;
    margin-bottom: 45px;
}
.content__info img{
    margin-right: 15px;
}
.info__name{
    color: #636769;
    font-size: 11px;
    line-height: 16.5px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.position{
    color: #636769;
    font-size: 20px;
    line-height: 30px; /* 150% */
}
.content__line{
    width: 439px;
    height: 1px;
    background: #C9C9C9;
    margin-bottom: 44px;
}
.content__text-2{
    color: #363B3D;
    text-align: center;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    max-width: 425px;
    margin-bottom: 30px;
}
.company__content-info button{
    margin-left: 140px;
    margin-bottom: 70px;
}
.company__main-line{
    width: 958px;
    height: 1px;
    background: #B2A9EF;
    margin: 0 auto;
    margin-bottom: 40px;
}
.data{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.data__common{
    color: #323A5B;
    font-size: 69px;
    line-height: 104.04px; /* 150.783% */
}
.data__text{
    color: #323A5B;
    font-size: 14px;
    line-height: 18.9px; /* 135% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.solution{
    margin: 0 auto;
    border-radius: 0px 0px 19px 19px;
    background: #574D9C;    
}
.solution__title{
    color: #FFF;
    text-align: center;
    font-size: 51px;
    line-height: 64.8px; /* 127.059% */
    letter-spacing: 0.675px;
    padding-top: 75px;
    margin-bottom: 40px;
}
.sbuttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 88px;
}
.solution__button{
    border-radius: 6.8px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    letter-spacing: 2.32px;
    text-transform: uppercase;
    background-color: #574D9C;
    padding: 15px 31px;
    cursor: pointer;
}
.solution__button:hover{
    color: #574D9C;
    border: 1px solid #6157AB;
    background: #FFF;
    transition: .3s;
}
.scontent{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.scard{
    border-radius: 12px;
    background: #FFF;
    width: 752px;
    height: 643px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.scard__left{
    margin: 35px;
}
.scard__grey{
    background: rgba(231, 236, 238, 0.27);
}
.grey__lines{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.scard__grey-line{
    width: 80px;
    height: 1px;
    background: #C7C1F3;
}
.left__title{
    color: #363B3D;
    font-size: 11px;
    line-height: 30px; /* 272.727% */
    letter-spacing: 1.1px;
    text-transform: uppercase;  
    margin-right: 5px;
    margin-left: 5px;
}
.something__icon{
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.family__line{
    width: 284px;
    height: 1px;
    background: #C7C1F3;
    margin: 0 auto;
    margin-bottom: 30px;
}
.span__text1{
    display: flex;
    margin-bottom: 50px;
}
.the{
    color: #363B3D;
    font-size: 11px;
    line-height: 30px; /* 272.727% */
    margin-left: 25px;
    margin-right: 50px;
}
.span__won{
    color: #636769;
    font-size: 16px;
    line-height: 21.6px; /* 135% */
}
.span__buyers{
    color: #363B3D;
    font-size: 11px;
    line-height: 30px; /* 272.727% */
    margin-left: 25px;
}
.span__text2{
    display: flex;
    padding-bottom: 55px;
}
.scard__right{
    padding-top: 150px;
}
.scard__right-title{
    color: #2B2B2B;
    font-size: 32px;
    line-height: 35.2px; /* 110% */
    letter-spacing: 0.16px;
    max-width: 260px;
    margin-bottom: 35px;
}
.scard__right-text{
    color: #636769;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    margin-bottom: 66px;
}
.scard__right-button{
    width: 135px;
    height: 54px;
    border-radius: 5px;
    background: #7569CF;
    color: #FFF;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.5px;
    margin-bottom: 63px;
}
.scard__right-line{
    width: 285px;
    height: 1px;
    background: #9AA6AC;
    margin-bottom: 25px;
}
.book{
    display: flex;
    align-items: center;
}
.book__link{
    text-align: center;
    color: #6157AB;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    text-decoration: none;
    padding-left: 15px;
}
.solution__el{
    display: flex;
    justify-content: center;
}
.el{
    width: 16px;
    height: 16px;
    border-radius: 100px;
    border: 1px solid #FFF;
    margin-right: 12px;
    margin-bottom: 90px;
}
.apple__container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 85px;
}
.apple__title{
    color: #363B3D;
    text-align: center;
    font-size: 40px;
    line-height: 48px; /* 120% */
    max-width: 400px;
    margin-bottom: 40px;
}
.apple__text{
    color: #363B3D;
    text-align: center;
    font-size: 20px;
    line-height: 30px; /* 150% */
    max-width: 390px;
    margin-bottom: 30px;
}
.apple__button{
    cursor: pointer;
    width: 234px;
    height: 64px;
    border-radius: 7px;
    background: #000;
    margin-left: 70px;
}
/* Coding styles for power section */

/* Coding styles for the footer */
.footer{
    background: #050302;
    padding-top: 80px;
    padding-bottom: 60px;
}
.footer__container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}
.footer__container h5{
    color: #FFF;
    font-size: 14px;
    line-height: 30px; /* 214.286% */
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer__container li{
    list-style: none;
}
.footer__links{
    color: #FFF;
    font-size: 18px;
    line-height: 30px; /* 166.667% */
    text-decoration: none;
}

.last__container{
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}
.click{
    color: #F5F4F2;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    text-decoration: none;
}
.last__links{
    margin-left: 170px;
}
.last__links a{
    color: #FFF;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    margin-right: 15px;
    text-decoration: none;
}
.copyright{
    color: #E7ECEE;
    font-size: 14px;
    line-height: 30px; /* 214.286% */
}
.last__icons{
    margin-left: 250px;
}
.last__icons img{
    margin-right: 25px;
    cursor: pointer;
}
/* Coding styles for the footer */